{% extends "base.html" %}

{% block title %}Création d'un profil{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Créez votre profil</h2>
    <p>Choisissez si vous souhaitez vous inscrire en tant qu'étudiant ou employé.</p>

    <!-- Formulaire d'inscription -->
    <form action="/register/" method="post">
        {% csrf_token %}
        <!-- Champs de votre formulaire ici -->
        <div class="form-group">
            <label for="user_type">Type de compte</label>
            <select name="user_type" id="user_type" class="form-control" required>
                <option value="student">Étudiant</option>
                <option value="employee">Employé</option>
            </select>
        </div>
        <div id="student_form" class="profile-form" style="display:none;">
            <h3>Inscription en tant qu'Étudiant</h3>
            <div class="form-group">
                {{ studentForm.as_p }}
            </div>
        </div>

        <div id="employee_form" class="profile-form" style="display:none;">
            <h3>Inscription en tant qu'Employé</h3>
            <div class="form-group">
                {{ employeeForm.as_p }}
            </div>
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        </div>
    </form>
    {% if studentForm.errors %}
    <div class="alert alert-danger">
        <ul>
            {% for field in studentForm %}
            {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</div>

<script>
    document.getElementById('user_type').addEventListener('change', function () {
        var studentForm = document.getElementById('student_form');
        var employeeForm = document.getElementById('employee_form');

        if (this.value === 'student') {
            studentForm.style.display = 'block';
            employeeForm.style.display = 'none';
        } else if (this.value === 'employee') {
            studentForm.style.display = 'none';
            employeeForm.style.display = 'block';
        }
    });

    // Affiche le formulaire étudiant par défaut au chargement de la page
    document.getElementById('user_type').dispatchEvent(new Event('change'));
</script>


{% endblock %}